<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/bootstrapjs.ejs') %>
    <div class="container">
        <h1>Welcome to Classfolio</h1>
        <!-- <form action="/class">
            <input type="submit" value="Take me to the Class Page">
        </form> -->
    
        <form action="/login">
            <input type="submit" value="Login to Classfolio">
        </form>
        <form action="/signup">
            <input type="submit" value="Sign up for Classfolio">
        </form>
    </div>
    <%- include('./partials/bootstrapjs.ejs') %>
</body>
</html>