<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/nav') %>
    <h1>Sign Up for Classfolio</h1>
    <form action="/signup" method="POST">
        <label>
            Email:
            <input type="email" name="email" required >
        </label>
        <label>
            Password:
            <input type="password" name="password" required>
        </label>
        <input type="submit" value="Sign Up">
    </form>
    <%- include('./partials/bootstrapjs.ejs') %>
</body>
</html>