body {
    font-family: 'Inter', sans-serif;
}

img {
    max-width: 100%;
    max-height: fit-content;
}

#student-show-photo {
    border-style: solid;
    border-color: #03c2fc;
    border-width: 5px;
    height: 300px;
    width: 300px;
    object-fit: cover;
    padding: 0;
}

#student-show-name-btns {
    align-items: center;
}

.card {
    margin: 10px;
}